!!! 5
%html{ lang: "en"}
  = render "layouts/head"
  %body.ui_basic.login-page
    = render "layouts/flash"
    .container
      .content
        %center
          = image_tag "logo-ufba.png", width: 100, height: 154, alt: "UFBA"
          %h1 Git UFBA
          %h3 Universidade Federal da Bahia
          %h3 Superintendência de Tecnologia da Informação
          %p.light
            #{link_to "Sign in", new_user_session_path} or browse for #{link_to "public projects", public_projects_path}.
    %hr
    .container
      .content
        = yield
